In [187]:
import pandas as pd
import re

In [188]:
# re == regex is a pattern recognition library of python

# Pattern	          Meaning
# .	                Any character
# \d	              Digit (0â€“9)
# \w	              Word character
# \s	              white Space
# \S                  Non white space character  Example---> a,1,#,&,*<(, ?)
# +	                One or more
# *	                Zero or more
# []	              Character set
# ^	                NOT (inside brackets)

re.findall(pattern, text)

re.sub(pattern, replacement, text)

re.search(pattern , text)

In [189]:
text = "I LOVED this movie!!! https://movie.com ðŸ˜ðŸ˜ 01/1000000 , 20 Visit https://movie.com"
text

'I LOVED this movie!!! https://movie.com ðŸ˜ðŸ˜ 01/1000000 , 20 Visit https://movie.com'

In [190]:
re.findall(r"\d+",text)

['01', '1000000', '20']

In [191]:
re.sub(r'\d+',"",text)

'I LOVED this movie!!! https://movie.com ðŸ˜ðŸ˜ / ,  Visit https://movie.com'

In [192]:
re.findall(r'http\S+',text)

['https://movie.com', 'https://movie.com']

In [193]:
re.sub(r'http\S+','',text)

'I LOVED this movie!!!  ðŸ˜ðŸ˜ 01/1000000 , 20 Visit '

In [194]:
text = "Check this website https://example.com for details"
re.findall(r'http\S+',text)

['https://example.com']

In [195]:
text = "Visit http://abc.com now"
re.findall(r'http\S+',text)

['http://abc.com']

In [196]:
text = 'Rating is 10/10'
re.findall(r"\d+",text)

['10', '10']

In [197]:
text = "you are amazing!!!! 10/10! ðŸ˜"
re.findall(r'[^\w\s]',text)

['!', '!', '!', '!', '/', '!', 'ðŸ˜']

In [198]:
re.sub(r"[^\w\s]","",text)

'you are amazing 1010 '

In [199]:
text = "Too   many    spaces"
re.sub(r'\s+'," ",text)

'Too many spaces'

In [200]:
text = "I LOVED this32 movie!!! ðŸ˜ðŸ˜ Visit https://movie.com"
re.sub(r'http\S+','',text)

'I LOVED this32 movie!!! ðŸ˜ðŸ˜ Visit '

In [201]:
re.sub(r'\d+','',text)

'I LOVED this movie!!! ðŸ˜ðŸ˜ Visit https://movie.com'

In [202]:
text = "Hello!#r 34 World"
text = text.lower()
re.findall(r"\d+|[^\w\s]",text)

['!', '#', '34']

In [203]:
text = "Hello!#r 34 World"
text = text.lower()
re.findall(r"[^a-z\s]+",text)

['!#', '34']

In [204]:
text = text.lower()

In [205]:
re.findall(r"\w+",text)

['hello', 'r', '34', 'world']

In [206]:
re.sub(r'[^a-z\s+]',' ',text)

'hello  r    world'

In [207]:
re.findall(r'[0-9a-z]',text)

['h', 'e', 'l', 'l', 'o', 'r', '3', '4', 'w', 'o', 'r', 'l', 'd']

In [208]:
df = pd.read_csv('dataset/IMDB dataset.csv')

In [209]:
df.head()

                                              review sentiment
0  One of the other reviewers has mentioned that ...  positive
1  A wonderful little production. <br /><br />The...  positive
2  I thought this was a wonderful way to spend ti...  positive
3  Basically there's a family where a little boy ...  negative
4  Petter Mattei's "Love in the Time of Money" is...  positive

In [210]:
df.sample(5)

                                                  review sentiment
40863  What a delightful romp Â– a very competently ma...  positive
5807   This movie was bad but it was so bad that it m...  negative
40156  I wondered why I didn't like Peggy Sue Got Mar...  negative
44737  This has always been one of my favourite movie...  positive
26303  This movie is worth seeing for the visual beau...  positive

In [211]:
df['text_len'] = df['review'].apply(len)

In [212]:
df.head()

                                              review sentiment  text_len
0  One of the other reviewers has mentioned that ...  positive      1761
1  A wonderful little production. <br /><br />The...  positive       998
2  I thought this was a wonderful way to spend ti...  positive       926
3  Basically there's a family where a little boy ...  negative       748
4  Petter Mattei's "Love in the Time of Money" is...  positive      1317

In [213]:
df['text_len'].idxmax()

31481

In [214]:
def clean_text(text):
    text = text.lower()
    text = re.sub(r"http\S+","",text) #link remove
    text = re.sub(r"<.*?>","",text) # html tag remove
    text = re.sub(r"[^a-z\s]","",text) #punctuations and digit remove
    text = re.sub(r"\s+"," ",text) #extra space remove
    return text.strip() #remove very first and last space of the sentence if any exist

df['clean_review'] = df['review'].apply(clean_text)

In [215]:
df[['review', 'clean_review']].sample(5)

,review,clean_review
21196,Jolene (Heather Graham) operates a night club ...,jolene heather graham operates a night club in...
9422,I think that anybody whose dumb enough to risk...,i think that anybody whose dumb enough to risk...
27784,The visual effectiveness of this film is unmat...,the visual effectiveness of this film is unmat...
47868,"I laughed at the movie! The script, the acting...",i laughed at the movie the script the acting p...
26718,"Now i like Johnny Vegas which is a good start,...",now i like johnny vegas which is a good start ...